.box
  %h1.text-center.mb-1
    %strong Want to finance the order?
  %h5.text-center Bitbond specialises in loans for Amazon sellers.
  .row.mt-5.mb-2.justify-content-center
    .col-9
      %button.form-control.btn-outline-primary
        %a{ href: '/' } Check your rates
