.box
  %h1.text-center.mb-1
    %strong= t('views.cta_box.header')
  %h5.text-center= t('views.cta_box.speciality')
  .row.mt-5.mb-2.justify-content-center
    .col-9
      %button.form-control.btn-outline-primary
        %a{ href: '/' }= t('views.cta_box.rates')
