.calculation-input {
  .input-field {
    background-color: #0d4a66;
  }

  ::-webkit-input-placeholder {
    text-align: center;
    color: #a1bcc6;
  }

  .form-control {
    border: 0;
    border-radius: 0;
    font-size: 1.2rem;
    padding: 15px 15px;
  }

  .row input {
    color: white;
  }

  .row .col-3 input {
    height: 2.5rem;
  }

  .row .col-6 input {
    height: 4.5rem;
  }

  .submit-button {
    border-radius: 12px;
    background: #005272;
    border: solid 2px white;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
  }
}

h3 {
  font-weight: bold;
}