.header
  %h1.text-center.heading
    = image_tag 'logo.svg', class: 'logo'
    %strong= t('views.shared.header.name')
  %h4.text-center.heading= t('views.shared.header.cash_on_cash')
  %h3.text-center.heading= t('views.shared.header.roi_calculator')