.calculation-output {
  .output-field {
    margin: 0 20px 20px 50px;
    background: #4e7586;
    padding: 10px;
  }

  .green {
    background: #2ca234;
  }

  .shift {
    margin-left: 50px;
  }

  p {
    margin-top: 1rem;
  }
}