- unless flash[:alert].blank?
  #flash.alert.alert-danger.alert-dismissible.container.text-center
    %a.close{"aria-label" => "close", "data-dismiss" => "alert", :href => "#"} ×
    = flash[:alert].html_safe